<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="signup-form glass">
    <% if resource.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

        <ul>
          <% resource.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-section">
      <%= f.label :email, 'Email:' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="form-section">
      <%= f.label :password, 'Password:' %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="form-section">
      <%= f.label :password_confirmation, 'Password confirmation:' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="form-section form-btn">
      <%= f.submit "Sign up", class: "btn" %>
    </div>
  </div>
<% end %>

<div class="btns">
  <%= link_to "Log in", new_session_path(resource_name), class: "btn" %>
  <%= link_to "Forgotten Password?", new_password_path(resource_name), class: "btn" %>
</div>
