<%= form_with(model: @transaction, local: true) do |form| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
      <ul>
        <% @transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <br>
      <%= link_to 'Back', transactions_path %>
    </div>
  <% end %>
    <div>
        <%= form.label :asset, 'Asset:' %>
        <%= form.text_field :asset %>
    </div>
    <div>
        <%= form.label :action, 'Action:' %>
        <%= form.select :action, options_for_select([['Buy', 'buy'], ['Sell', 'sell']], @transaction.action) %>
    </div>
    <div>
        <%= form.label :time, 'Time:' %>
        <%= form.datetime_select :time %>
    </div>
    <div>
        <%= form.label :memo, 'Memo:' %>
        <%= form.text_field :memo %>
    </div>
    <div>
        <%= form.label :amount, 'Amount:' %>
        <%= form.number_field :amount, step: :any %>
    </div>
    <div>
        <%= form.submit 'Update Transaction' %>
    </div>
<% end %>
