<h1>Transaction Details: <%= @transaction.action.capitalize %> <%= @transaction.coin_information&.symbol.upcase || 'N/A' %></h1>

<% if @transaction.memo.present? %>
  <p><%= @transaction.memo %></p>
<% end %>

<%= display_transaction_details(@transaction) %>

<div class="action-buttons">
  <%= link_to "All Transactions", transactions_path, class: "btn" %>
  <%= link_to "#{@transaction.portfolio.portfolio_name} Portfolio", portfolio_path(@transaction.portfolio), class: "btn" %>
  <%= link_to 'Edit', edit_transaction_path(@transaction), class: "btn" %>
  <%= button_to 'Delete', @transaction, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>
</div>
