<p><%= notice %></p>

<h1>Transaction Details</h1>

<h2>Asset: <%= @transaction.asset %></h2>
<p>Action: <%= @transaction.action %></p>
<p>Date: <%= @transaction.time.strftime('%d/%m/%Y') %></p>
<p>Time: <%= @transaction.time.strftime('%H:%M:%S') %></p>
<p>Memo: <%= @transaction.memo %></p>
<p>Amount: <%= @transaction.amount %></p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %>
<br>
<%= button_to 'Delete', @transaction, method: :delete, data: { confirm: 'Are you sure?' } %>
<br>
<br>
<%= link_to "#{@transaction.asset} Portfolio", asset_path(@transaction.asset) %>
<br>
<%= link_to 'View Transactions', transactions_path %>
