<nav class="navbar">
  <h2><%= link_to 'Tracker', portfolios_path, class: 'nav-link' %></h2>
  <p><%= link_to 'Portfolios', portfolios_path, class: 'nav-link' %></p>
  <p><%= link_to 'Coins', coins_path, class: 'nav-link' %></p>
  <p><%= link_to 'Transactions', transactions_path, class: 'nav-link' %></p>
  <p><%= link_to 'New', new_transaction_path, class: 'nav-link' %></p>  
</nav>
