<h1>Coins</h1>

<%= form_with(url: coins_path, method: :get, local: true) do %>
    <div class="search-field">
        <%= label_tag :name, 'Search:' %>
        <%= text_field_tag :name, params[:name] %>
        <%= hidden_field_tag :sort_by, params[:sort_by] %>
        <%= hidden_field_tag :dir, params[:dir] %>
        <%= submit_tag 'Search', class: 'btn' %>
    </div>
<% end %> 

 <div class="sorting-buttons">
  <p>Sort by:</p>
  <%= link_to 'Coin', coins_path(asset: params[:asset], sort_by: 'coin_name', dir: params[:dir]), class: "btn #{'active' if params[:sort_by] == 'coin_name'}" %>
  <%= link_to 'Symbol', coins_path(asset: params[:asset], sort_by: 'symbol', dir: params[:dir]), class: "btn #{'active' if params[:sort_by] == 'symbol'}" %>
  <%= link_to 'Fiat', coins_path(asset: params[:asset], sort_by: 'fiat_balance', dir: params[:dir]), class: "btn #{'active' if params[:sort_by] == 'fiat_balance'}" %>
  <%= link_to 'Coin', coins_path(asset: params[:asset], sort_by: 'coin_balance', dir: params[:dir]), class: "btn #{'active' if params[:sort_by] == 'coin_balance'}" %>
  <%= link_to 'Price', coins_path(asset: params[:asset], sort_by: 'latest_price', dir: params[:dir]), class: "btn #{'active' if params[:sort_by] == 'latest_price'}" %>
  <div>
    <%= link_to 'Up', coins_path(portfolio_name: params[:name], dir: 'desc', sort_by: params[:sort_by]), class: "btn #{'active' if params[:dir] == 'desc'}" %>
    <%= link_to 'Down', coins_path(portfolio_name: params[:name], dir: 'asc', sort_by: params[:sort_by]), class: "btn #{'active' if params[:dir] == 'asc'}" %>
  </div>
</div> 

<% if @coins.empty? %>
  <p>No coins found. Add some coins to get started.</p>
<% else %>
  <%= display_coins(@coins) %>
<% end %>
